<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Добавление продукта</title>
</head>

<body>
<h1>Добавление продукта:</h1>
<form method="post" th:action="@{/products/add}" >
    <label for="title">Название</label>
    <input
    id="title"
    name="title"
    type="text" />
    <label for="cost">Цена</label>
    <input
    id="cost"
    name="cost"
    type="number" />
    <button type="submit">Сохранить</button>
</form>

<div th:if="${product != null}">
    <div>Новый элемент:</div>
    <div th:text="'uuid: ' + ${product.uuid}"></div>
    <div th:text="'Название: ' + ${product.title}"></div>
    <div th:text="'Цена: ' + ${product.cost}"></div>
</div>

</body>
</html>