<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="'Покупки пользователя ' + ${user.id}"></title>
</head>

<body>
    <h1 th:text="'Пользователь ' + ${user.id}"></h1>
    <div th:text="'Имя: ' + ${user.name}"></div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Цена покупки</th>
    </tr>
    <tbody>
    <tr th:each="userProduct : ${userProducts}">
        <td th:text="${userProduct.product.id}"></td>
        <td th:text="${userProduct.product.title}"></td>
        <td th:text="${userProduct.product.cost}"></td>
        <td th:text="${userProduct.currentCost}"></td>
    </tr>
    </tbody>
    </thead>
</table>
</body>
</html>